In [1]:
# xampp - www.apachefriends.org

# mysql - pymysql
# postgresql - psycopg2
# oracle - cx_Oracle

# create a connection object
# conn = psycopg2.connect(host='localhost',user='',password='',db='')

# cursor object
# cur = conn.cursor()

# execute sql query
# cur.execute("insert into tablename values()")
# conn.commit()

# close the connection
# conn.close()

In [3]:
import psycopg2
import sys

conn = psycopg2.connect(host='localhost',user='demodb_user',password='password',dbname='demodb_1')

if not conn:
    sys.exit()
    
cur = conn.cursor()

try:
    cur.execute("create table books(bookid int,booktitle varchar(50))")
    conn.commit()
except:
    print("error executing query")
else:
    print("table created")
finally:
    conn.close()

table created