In [1]:
# merge dataframe

import pandas as pd

df1 = pd.read_excel('names.xlsx',sheet_name='Sheet1')
df2 = pd.read_excel('names.xlsx',sheet_name='Sheet2')

print(df1)
print(df2)

  name  age department
0  bob   21        CSE
1  tom   20        ECE
2  pat   21        EEE
3  sam   20       MECH
4  joe   21         IT
  department departmentname
0        CSE       Computer
1        ECE    Electronics
2        EEE     Electrical
3       MECH     Mechanical
4      CIVIL          Civil

In [2]:
df3 = pd.merge(df1,df2,on='department') # similar to equi join

print(df3)

  name  age department departmentname
0  bob   21        CSE       Computer
1  tom   20        ECE    Electronics
2  pat   21        EEE     Electrical
3  sam   20       MECH     Mechanical

In [3]:
df3 = pd.merge(df1,df2,on='department',how='left') # similar left join
print(df3)

  name  age department departmentname
0  bob   21        CSE       Computer
1  tom   20        ECE    Electronics
2  pat   21        EEE     Electrical
3  sam   20       MECH     Mechanical
4  joe   21         IT            NaN

In [4]:
df3 = pd.merge(df1,df2,on='department',how='right') # similar right join
print(df3)

  name   age department departmentname
0  bob  21.0        CSE       Computer
1  tom  20.0        ECE    Electronics
2  pat  21.0        EEE     Electrical
3  sam  20.0       MECH     Mechanical
4  NaN   NaN      CIVIL          Civil

In [ ]:
df3 = pd.merge(df1,df2,on='department',how='outer') # similar outer join
print(df3)