In [2]:
# iloc - filtering based on row index or column index
# loc - filtering based on row values

import pandas as pd

df = pd.read_csv('uk-500.csv')

#print(df.iloc[0]) # get the first row

print(df.iloc[-1]) # get the last row

id                                                      NaN
first_name                                               Mi
last_name                                            Richan
company_name                 Nelson Wright Haworth Golf Crs
address                                     6 Norwood Grove
city                                      Tanworth-in-Arden
county                                         Warwickshire
postal                                              B94 5RZ
phone1                                         01451-785624
phone2                                         01202-738406
email                                        mi@hotmail.com
web             http://www.nelsonwrighthaworthgolfcrs.co.uk
in                                                     9:36
out                                                     NaN
Name: 499, dtype: object

In [ ]:
print(df.iloc[8:15]) #get range rows

In [4]:
print(df.iloc[[9,23,35,41,58,75]]) #get selective rows

      id first_name   last_name                 company_name  \
9   10.0     Yuette      Klapec                    Max Video
23  24.0    Tamesha      Veigel          Wilhelm, James E Jr
35  36.0    Alethea       Mould         Hughlett, Henry T Jr
41  42.0    Marylin  Cornelison  Ernest E Heuer & Company Pc
58  59.0    Chantay      Kamens    Brewster Wallcoverings Co
75  76.0      Billy       Venus               Tipton & Hurst

                 address                  city          county    postal  \
9   45 Bradfield St #166               Parwich      Derbyshire   DE6 1QN
23    2200 Nelson St #58               Newport   Isle of Wight  PO30 5AL
35        6305 Elstow St           Castle Ward     West Sussex  BN12 6PR
41             39 Wye St  Wakefield North Ward  West Yorkshire   WF1 1DR
58      763 Parkfield Rd          Norton Canes   Staffordshire  WS11 9RH
75          61 Miriam St       Abbey Road Ward  Greater London   NW8 9BD

          phone1        phone2                         email  \
9   01903-649460  01933-512513    yuette.klapec@klapec.co.uk
23  01217-342071  01280-786847          tveigel@veigel.co.uk
35  01662-114247  01351-868965           alethea@hotmail.com
41  01609-882184  01295-331807  marylin_cornelison@yahoo.com
58  01823-383806  01245-146126           ckamens@hotmail.com
75  01537-356648  01703-435212         billy.venus@yahoo.com

                                         web    in  out
9                  http://www.maxvideo.co.uk  9:17  NaN
23          http://www.wilhelmjamesejr.co.uk  8:10  NaN
35         http://www.hughletthenrytjr.co.uk   9:1  NaN
41    http://www.ernesteheuercompanypc.co.uk  8:58  NaN
58  http://www.brewsterwallcoveringsco.co.uk  8:14  NaN
75              http://www.tiptonhurst.co.uk  8:11  NaN

In [5]:
# select using column index
print(df.iloc[:,1]) # select only 2nd column

0        Aleshia
1           Evan
2         France
3        Ulysses
4         Tyisha
         ...
495        Avery
496         Reid
497    Charlette
498    Celestina
499           Mi
Name: first_name, Length: 500, dtype: object

In [6]:
# select using range of columns
print(df.iloc[:,1:4])

    first_name   last_name                    company_name
0      Aleshia  Tomkiewicz         Alan D Rosenburg Cpa Pc
1         Evan   Zigomalas              Cap Gemini America
2       France     Andrade             Elliott, John W Esq
3      Ulysses   Mcwalters                  Mcmahan, Ben L
4       Tyisha      Veness                  Champagne Room
..         ...         ...                             ...
495      Avery        Veit      Plaza Gourmet Delicatessen
496       Reid     Euresti            Fitzgerald, Edward J
497  Charlette    Brenning              Furey & Associates
498  Celestina       Keeny        Bfg Federal Credit Union
499         Mi      Richan  Nelson Wright Haworth Golf Crs

[500 rows x 3 columns]

In [7]:
# get selective columns
print(df.iloc[:,[1,5,6,8]])

    first_name                            city           county        phone1
0      Aleshia               St. Stephens Ward             Kent  01835-703597
1         Evan                      Abbey Ward  Buckinghamshire  01937-864715
2       France  East Southbourne and Tuckton W      Bournemouth  01347-368222
3      Ulysses              Hawerby cum Beesby     Lincolnshire  01912-771311
4       Tyisha      Greets Green and Lyng Ward    West Midlands  01547-429341
..         ...                             ...              ...           ...
495      Avery  Knightsbridge and Belgravia Wa   Greater London  01748-625058
496       Reid        Inverness Ness-Side Ward         Highland  01916-963261
497  Charlette                Darton West Ward  South Yorkshire  01888-152110
498  Celestina                Consett North ED    County Durham  01877-379681
499         Mi               Tanworth-in-Arden     Warwickshire  01451-785624

[500 rows x 4 columns]

In [8]:
# get range of rows and columns
print(df.iloc[5:15,1:4])

     first_name  last_name                   company_name
5          Eric      Rampy        Thompson, Michael C Esq
6          Marg   Grasmick  Wrangle Hill Auto Auct & Slvg
7       Laquita      Hisaw          In Communications Inc
8          Lura   Manzella                Bizerba Usa Inc
9        Yuette     Klapec                      Max Video
10     Fernanda     Writer           K & R Associates Inc
11  Charlesetta        Erm               Cain, John M Esq
12     Corrinne      Jaret              Sound Vision Corp
13       Niesha      Bruch         Rowley/hansell Petetin
14       Rueben  Gastellum  Industrial Engineering Assocs

In [9]:
print(df.loc[df['first_name'].str.contains('Marg')])

        id first_name  last_name                   company_name  \
6      7.0       Marg   Grasmick  Wrangle Hill Auto Auct & Slvg
36    37.0  Margurite  Loperfido     Penrose Place Pharmacy Inc
42    43.0     Marget      Gunst               Frankel, Stephen
61    62.0  Margarett      Bairo           Reid, Carleton B Esq
243  244.0     Margot       Peay              Bork, Terry D Esq
305    NaN    Margret    Alcazar   Advantage Title & Escrow Inc
355    NaN    Margery      Rohrs  C G Mccullough Insurance Agcy
443    NaN  Margarita    Orloski                     1893 Shops

                    address                         city             county  \
6          7457 Cowl St #70                 Bargate Ward        Southampton
36      218 Greenbank Drive                      Devizes          Wiltshire
42       2732 Bostock St #1                   St. Enoder           Cornwall
61              3 August Rd  Maybury and Sheerwater Ward             Surrey
243  9923 Dinorben St #4838             Childs Hill Ward     Greater London
305          5466 Sedley St        Coatbridge South Ward  North Lanarkshire
355          40 Peters Lane                 Long Preston    North Yorkshire
443           78 Pine Grove             Stannington Ward    South Yorkshire

       postal        phone1        phone2                        email  \
6    SO14 3TY  01865-582516  01362-620532             marg@hotmail.com
36   SN10 3DU  01407-866759  01640-661191         mloperfido@gmail.com
42    TR9 6NJ  01693-310794  01512-975244             mgunst@yahoo.com
61   GU21 5QL  01670-813697  01903-424890          margarett@gmail.com
243  NW11 8DY  01925-895879  01913-339706        margot.peay@yahoo.com
305   ML5 4LJ  01626-590776  01633-731246        margret@alcazar.co.uk
355  BD23 4NF  01634-340524  01933-273913          margery@hotmail.com
443    S6 5HE  01215-422453  01958-497953  margarita_orloski@yahoo.com

                                            web    in  out
6      http://www.wranglehillautoauctslvg.co.uk  8:28  NaN
36     http://www.penroseplacepharmacyinc.co.uk  9:33  NaN
42              http://www.frankelstephen.co.uk  8:22  NaN
61            http://www.reidcarletonbesq.co.uk   9:3  NaN
243              http://www.borkterrydesq.co.uk  9:29  NaN
305    http://www.advantagetitleescrowinc.co.uk  8:54  NaN
355  http://www.cgmcculloughinsuranceagcy.co.uk  8:58  NaN
443                      http://www.shops.co.uk  8:45  NaN

In [10]:
print(df.loc[(df['id'] > 100) & (df['id'] <= 200)])

        id first_name  last_name                    company_name  \
100  101.0    Latosha      Alexy         Laitinen, Stephen B Esq
101  102.0     Alexia     Meenan                  Herr Foods Inc
102  103.0     Graham   Stanwick   Tiburon Pen Chmbr Commrce Inc
103  104.0    Elinore      Fulda  Agri Business Insurance Agency
104  105.0    Lisbeth     Creecy       Gerstenfeld, Gerald F Esq
..     ...        ...        ...                             ...
195  196.0   Gabriele    Geschke   Levy Security Consultants Ltd
196  197.0       Kara    Jaquish                    El Adobe Inn
197  198.0      Kenny        Lin      Mcmahan Mcmahan & Brinkley
198  199.0     Vashti      Sugai           Accurate Engraving Co
199  200.0     Jordan  Handsaker           Shirleys Print Shoppe

                address                            city              county  \
100  37 Langham St #948           St. Georges Hill Ward              Surrey
101       94 Villars St                       Launcells            Cornwall
102     73 Hawkstone St  Renfrew South & Gallowhill War      Dunbartonshire
103       123 Sussex St              Astley Bridge Ward  Greater Manchester
104        484 Barry St                 Shiney Row Ward       County Durham
..                  ...                             ...                 ...
195    5 Garfield St #9               Milton Regis Ward                Kent
196     345 Feltwell Rd  St. Michaels and Wicksteed War    Northamptonshire
197         1 Towson St  Howe of Fife and Tay Coast War                Fife
198      4 Candia St #6               Shipston on Stour        Warwickshire
199       2 Cherry Lane               Strood South Ward                Kent

       postal        phone1        phone2                       email  \
100  KT13 0AZ  01704-508066  01662-268374           latosha@yahoo.com
101  EX23 9LG  01560-328739  01270-931388  alexia.meenan@meenan.co.uk
102   G52 4YG  01860-191930  01409-786106         gstanwick@gmail.com
103   BL1 6PY  01457-837447  01403-864306   elinore.fulda@fulda.co.uk
104   DH4 7RG  01931-620849  01825-623398           lcreecy@gmail.com
..        ...           ...           ...                         ...
195  ME10 2EJ  01404-425588  01902-692529      gabriele@geschke.co.uk
196  NN15 6BB  01691-316298  01503-303797              kara@yahoo.com
197  KY14 6AH  01753-900033  01473-417906             kenny@lin.co.uk
198  CV36 4HE  01311-723137  01528-551210            vashti@gmail.com
199   ME2 2NJ  01793-443665  01964-984369  jordan_handsaker@gmail.com

                                              web    in  out
100          http://www.laitinenstephenbesq.co.uk  9:25  NaN
101                 http://www.herrfoodsinc.co.uk  8:12  NaN
102    http://www.tiburonpenchmbrcommrceinc.co.uk   8:3  NaN
103  http://www.agribusinessinsuranceagency.co.uk   9:8  NaN
104        http://www.gerstenfeldgeraldfesq.co.uk  8:51  NaN
..                                            ...   ...  ...
195   http://www.levysecurityconsultantsltd.co.uk  8:21  NaN
196                   http://www.eladobeinn.co.uk  9:60  NaN
197       http://www.mcmahanmcmahanbrinkley.co.uk  8:29  NaN
198          http://www.accurateengravingco.co.uk   8:6  NaN
199          http://www.shirleysprintshoppe.co.uk  9:44  NaN

[100 rows x 14 columns]

In [11]:
print(df.loc[(df['id'] > 100) & (df['id'] <= 200), 'company_name':'postal'])

                       company_name             address  \
100         Laitinen, Stephen B Esq  37 Langham St #948
101                  Herr Foods Inc       94 Villars St
102   Tiburon Pen Chmbr Commrce Inc     73 Hawkstone St
103  Agri Business Insurance Agency       123 Sussex St
104       Gerstenfeld, Gerald F Esq        484 Barry St
..                              ...                 ...
195   Levy Security Consultants Ltd    5 Garfield St #9
196                    El Adobe Inn     345 Feltwell Rd
197      Mcmahan Mcmahan & Brinkley         1 Towson St
198           Accurate Engraving Co      4 Candia St #6
199           Shirleys Print Shoppe       2 Cherry Lane

                               city              county    postal
100           St. Georges Hill Ward              Surrey  KT13 0AZ
101                       Launcells            Cornwall  EX23 9LG
102  Renfrew South & Gallowhill War      Dunbartonshire   G52 4YG
103              Astley Bridge Ward  Greater Manchester   BL1 6PY
104                 Shiney Row Ward       County Durham   DH4 7RG
..                              ...                 ...       ...
195               Milton Regis Ward                Kent  ME10 2EJ
196  St. Michaels and Wicksteed War    Northamptonshire  NN15 6BB
197  Howe of Fife and Tay Coast War                Fife  KY14 6AH
198               Shipston on Stour        Warwickshire  CV36 4HE
199               Strood South Ward                Kent   ME2 2NJ

[100 rows x 5 columns]

In [12]:
print(df.loc[(df['id'] > 100) & (df['id'] <= 200), ['first_name','last_name','email']])

    first_name  last_name                       email
100    Latosha      Alexy           latosha@yahoo.com
101     Alexia     Meenan  alexia.meenan@meenan.co.uk
102     Graham   Stanwick         gstanwick@gmail.com
103    Elinore      Fulda   elinore.fulda@fulda.co.uk
104    Lisbeth     Creecy           lcreecy@gmail.com
..         ...        ...                         ...
195   Gabriele    Geschke      gabriele@geschke.co.uk
196       Kara    Jaquish              kara@yahoo.com
197      Kenny        Lin             kenny@lin.co.uk
198     Vashti      Sugai            vashti@gmail.com
199     Jordan  Handsaker  jordan_handsaker@gmail.com

[100 rows x 3 columns]

In [13]:
print(df.loc[df['email'].str.endswith('gmail.com'), ['first_name','last_name','email']])

      first_name  last_name                       email
1           Evan  Zigomalas    evan.zigomalas@gmail.com
11   Charlesetta        Erm   charlesetta_erm@gmail.com
12      Corrinne      Jaret    corrinne_jaret@gmail.com
29         Karma     Quarto           kquarto@gmail.com
32         Milly    Savidge             milly@gmail.com
..           ...        ...                         ...
472          Mel   Picciuto      mel.picciuto@gmail.com
480      Tijuana   Machalek  tijuana.machalek@gmail.com
483      Derrick    Dolloff   derrick_dolloff@gmail.com
494       Alesia      Katie      alesia_katie@gmail.com
498    Celestina      Keeny   celestina_keeny@gmail.com

[130 rows x 3 columns]

In [14]:
print(df.loc[df['first_name']=='France'])
df.loc[df['first_name']=='France','last_name']='Andrew'

    id first_name last_name         company_name       address  \
2  3.0     France   Andrade  Elliott, John W Esq  8 Moor Place

                             city       county   postal        phone1  \
2  East Southbourne and Tuckton W  Bournemouth  BH6 3BE  01347-368222

         phone2                       email                               web  \
2  01935-821636  france.andrade@hotmail.com  http://www.elliottjohnwesq.co.uk

     in  out
2  9:46  NaN